<div *ngIf="resource$ | async as resource">
  <h1>{{ resource.title }} ({{ resource.name }})</h1>
  <ul>
    <li>Rating: NONE</li>
    <li>Authors:
      <ng-container *ngFor="let author of resource.authors; let last = last;">
        <a [routerLink]="['/u', author.username]">{{ author.username }}</a>
        <ng-container *ngIf="!last">, </ng-container>
      </ng-container>
    </li>
    <li>Description: {{ resource.description }}</li>
    <li>Last updated: {{ resource.updated_at | amTimeAgo }}</li>
    <li>Created at: {{ resource.created_at | amTimeAgo }}</li>
  </ul>


</div>
