<div *ngIf="resource$ | async as resource">
  <h1>
    {{ resource.title }} ({{ resource.name }})
    <button [disabled]="!downloadable">Download</button>
  </h1>
  <ul>
    <li>Rating: NONE</li>
    <li>Authors:
      <ng-container *ngFor="let author of resource.authors; let last = last;">
        <a [routerLink]="['/u', author.username]">{{ author.username }}</a>
        <ng-container *ngIf="!last">, </ng-container>
      </ng-container>
    </li>
    <li>Description: {{ resource.description }}</li>
    <li>Last updated: {{ resource.updated_at | amTimeAgo }}</li>
    <li>Created at: {{ resource.created_at | amTimeAgo }}</li>
  </ul>

  <div>
    <strong>Packages</strong>
    <ng-template #packagesLoading>
      <div>Loading...</div>
    </ng-template>
    <ul *ngIf="packages$ | async as packages; else packagesLoading">
      <li *ngFor="let pkg of packages">{{ pkg | json }}</li>
    </ul>
  </div>
</div>
