<div *ngIf="view.resource$ | async as resource" class="d-flex flex-wrap flex-justify-center">

  <div class="Box col col-md-5 m-1">
    <div class="Box-header">
      <h3 class="Box-title">Rename resource</h3>
    </div>
    <div class="Box-body">
      <p>No redirections will be set up, and all future downloads will use the the new name.</p>
      <input class="form-control" aria-label="New resource name" type="text" placeholder="new resource name">
      {{' '}} <button class="btn">Rename</button>
    </div>
  </div>

  <div class="Box col col-md-5 m-1">
    <div class="Box-header">
      <!-- todo: hack: warning: harcoded ResourceStatus enum values -->
      <h3 class="Box-title">Change visibility</h3>
    </div>
    <div class="Box-body">
      <p *ngIf="resource.status === 'private'; else settingsMakePrivate">Your resource will be public for the world to see.</p>
      <ng-template #settingsMakePrivate><p>Hides your resource from the public eye — only other authors will be able to access your resource.</p></ng-template>
      <button class="btn">Make {{ resource.status === 'private' ? 'public' : 'private' }}</button>
    </div>
  </div>

  <div class="Box col col-md-5 m-1">
    <div class="Box-header">
      <h3 class="Box-title">Transfer ownership</h3>
    </div>
    <div class="Box-body">
      <p>Transferring ownership is permanent and you will no longer have full access to this resource.</p>
      <input class="form-control" aria-label="New author username" type="text" placeholder="New author username">
      {{' '}} <button class="btn">Transfer...</button>
    </div>
  </div>

  <div class="Box col col-md-5 m-1">
    <div class="Box-header">
      <h3 class="Box-title">Archive resource</h3>
    </div>
    <div class="Box-body">
      <p>Mark this resource as archived and read-only. Nobody will be able to review.</p>
      <button class="btn">Archive</button>
    </div>
  </div>

  <div class="Box col col-md-5 m-1">
    <div class="Box-header">
      <h3 class="Box-title">Delete resource</h3>
    </div>
    <div class="Box-body">
      <p>Deleting your resource removes all comments, reviews, media and versions. This process is immediate and irreversible.</p>
      <button class="btn">Delete...</button>
    </div>
  </div>

</div>
