<div *ngIf="view.resource$ | async as resource">
  <div class="pagehead pt-0 pt-md-2 pb-md-2">
    <ul class="pagehead-actions mb-2 mb-md-0">
      <li>
        <button class="btn btn-sm" *ngIf="resource.can_manage">Upload new version</button>
      </li>
      <li>
        <button
          [disabled]="!view.downloadable"
          [className]="'btn btn-sm btn-primary ' + (view.downloadable ? '' : 'tooltipped tooltipped-sw')"
          [attr.aria-label]="!view.downloadable && 'Release a non-draft version first'"
        >
          Download <code>{{ resource.name }}.zip</code>
        </button>
      </li>
    </ul>
    <h1 *ngFor="let creator of [resource.authors[0]]">
      <span class="author">
        <a class="url fn" rel="author" [routerLink]="['/u', creator.username]">{{ creator.username }}</a>
      </span>
      <span class="path-divider">{{ ' / ' }}</span>
      <strong class="mr-2"><a [routerLink]="['/u', creator.username, resource.name]">{{ resource.name }}</a></strong>
      <!-- todo: hack: enum harcoded -->
      <span *ngIf="resource.status !== 'public'" class="Label Label--outline ml-2">{{ resource.status }}</span>
    </h1>
    <nav class="mt-3 clearfix" role="navigation">
      <ng-container *ngFor="let child of route.routeConfig.children">
        <a class="pagehead-tabs-item d-flex"
           *ngIf="child.data.title !== undefined && (!child.data.elevated || resource.can_manage)"
           [routerLink]="child.path === '' ? './' : child.path"
           [class.selected]="child.path === route.firstChild.snapshot.routeConfig.path">
          <i [appOcticon]="child.data.icon" class="mr-2"></i>
          <span>{{ child.data.title }}</span>
          <!-- todo: make octicon bold too -->
          <span class="ml-1 Counter d-flex flex-items-center" *ngIf="child.data.counter">
            3
          </span>
        </a>
      </ng-container>
    </nav>
  </div>

  <router-outlet></router-outlet>
</div>
