/* You can add global styles to this file, and also import other style files */
@import "~@primer/css/index";
@import "styles-primer-ext.scss";

.octicon-parent {
  display: flex;
  align-items: center;
}

// Hack
.Box-body {
  border-bottom: none;
}

.cursor-pointer {
  cursor: pointer;
}
