/* You can add global styles to this file, and also import other style files */
@import "~@primer/css/index";
@import "styles-primer-ext.scss";

.octicon-parent {
  display: inline-block;
  margin-right: .5rem;
}

// Hack
.Box-body {
  border-bottom: none;
}

.cursor-pointer {
  cursor: pointer;
}

.form-group-header > label {
  display: block;
}
