<ng-container *ngIf="user$ | async as user;">
  <div class="d-flex">
    <div class="col-2 mr-3">
      <img [src]="user.gravatar + '?size=150'" class="width-full">
    </div>
    <div class="col-8">
      <h1>
        {{ user.username }}
      </h1>
      <p>I'm a software engineer studying Computer Science at the University of Edinburgh.</p>
      <div class="d-flex flex-column">
        <span class="d-flex mb-1" [title]="user.created_at | amDateFormat: 'YYYY-MM-DD HH:mm:ss'" >
          <i appOcticon="clock" class="mr-2"></i> Member for {{ user.created_at | amTimeAgo: true }}
        </span>
        <span class="d-flex mb-1"><i appOcticon="location" class="mr-2"></i> United Kingdom</span>
        <span class="d-flex mb-1"><i appOcticon="globe" class="mr-2"></i> <a href="https://google.com" rel="noreferrer">https://qaisjp.com</a> </span>
        <span class="d-flex mb-1"><i appOcticon="octoface" class="mr-2"></i> <a href="https://github.com/qaisjp" rel="noreferrer">qaisjp</a> </span>
      </div>
    </div>
    <div class="col-2">
      <!-- HACK TODO: this uses float right. we should use flex properly but it's not working properly and i don't wanna debug -->
      <button *ngIf="(auth.user$ | async).id !== user.id" (click)="toggleFollowState()" [attr.aria-disabled]="loading"
              class="btn float-right" type="button">
        {{ (followed) ? "Unfollow" : "Follow" }}
      </button>
      <button *ngIf="(auth.user$ | async).id === user.id" routerLink="/account" class="btn float-right d-flex" type="button">
        <i appOcticon="pencil" class="mr-2"></i> Edit Profile
      </button>
    </div>
  </div>
  <hr>
  <div class="d-flex">
    <div class="col-2 mr-3">
      <nav class="SideNav border">
        <a *ngFor="let t of tabs" class="SideNav-item d-flex flex-justify-between" routerLink="./" [queryParams]="{tab: t.key}"
           [attr.aria-current]="this.tab === t.key ? 'page' : null"
        >
          {{ t.name }} <span class="Counter bg-gray-2 ml-1 d-flex flex-items-center">{{ user[t.key].length }}</span>
        </a>
      </nav>
    </div>
    <div class="col-10">
      <div *ngIf="tab === 'resources'">
        <div class="d-flex flex-row">
          <ng-container *ngIf="user.resources.length === 0">
            <div *ngIf="(auth.user$ | async).id === user.id; else noResourcesOther" class="blankslate col-12" >
              <h3 class="mb-1">You don't seem to have any resources.</h3>
              <p>Sharing resources with the community can help improve the community as a whole.</p>
              <button class="btn btn-primary my-3" type="button" routerLink="/create">Create resource</button>
            </div>
            <ng-container #noResourcesOther>
              <div *ngIf="(auth.user$ | async).id !== user.id" class="col-12">
                <h3>This user doesn't seem to have any resources.</h3>
              </div>
            </ng-container>
          </ng-container>
          <div *ngFor="let res of user.resources; let i = index;" class="col-8 bg-gray-light mr-2 mb-2">
            <a [routerLink]="['/u', res.author_id, res.name]">{{ res.name }} </a>
            <span *ngIf="user.hasPrivate">({{ res.status }})</span>
            <span> - Last updated {{ res.updated_at | amTimeAgo }}</span>
          </div>
        </div>
      </div>
      <!-- Probably refactor this into its own template or element -->
      <div *ngIf="tab === 'followers'">
        <li *ngFor="let follower of user.followers"><code>{{ follower | json }}</code></li>
      </div>
      <div *ngIf="tab === 'following'">
        <div *ngFor="let follower of user.following">
          <img [src]="follower.gravatar + '?size=125'">
          <h4>{{ follower.username }}</h4>
          <code>{{ follower | json }}</code>
        </div>
      </div>

    </div>
  </div>
</ng-container>
