<div *ngIf="user$ | async as user">
  <img [src]="user.gravatar">
  <h1>{{ user.username }}</h1>
  <div>
    <h2>Resources</h2>
    <ul>
      <li *ngFor="let res of user.resources">
        <a [routerLink]="['/u', res.author_id, res.name]">{{ res.name }} </a>
        <span *ngIf="user.hasPrivate">({{ res.status }})</span>
        <span> - Last updated {{ res.updated_at | amTimeAgo }}</span>
      </li>
    </ul>
  </div>
  <div>
    <h2>Followers ({{ user.followers.length }})</h2>
    <li *ngFor="let follower of user.followers"><code>{{ follower | json }}</code></li>
  </div>
  <div>
    <h2>Following ({{ user.following.length }})</h2>
    <li *ngFor="let follower of user.following"><code>{{ follower | json }}</code></li>
  </div>
</div>
