<ng-container *ngIf="user$ | async as user;">
  <div class="d-flex">
    <div class="col-2 mr-3">
      <img [src]="user.gravatar + '?size=150'" class="width-full">
    </div>
    <div class="col-8">
      <h1>
        {{ user.username }}
      </h1>
      <p *ngIf="user.bio.length > 0">{{ user.bio }}</p>
      <div class="d-flex flex-column">
        <span class="d-flex mb-1" [title]="user.created_at | amDateFormat: 'YYYY-MM-DD HH:mm:ss'" >
          <i appOcticon="clock" class="mr-2"></i> Member for {{ user.created_at | amTimeAgo: true }}
        </span>
        <span class="d-flex mb-1" *ngIf="user.location.length > 0">
          <i appOcticon="location" class="mr-2"></i> {{ user.location }}
        </span>
        <span class="d-flex mb-1" *ngIf="user.website.length > 0">
          <i appOcticon="globe" class="mr-2"></i> <a href="https://google.com" rel="noreferrer">{{ user.website }}</a>
        </span>
        <span class="d-flex mb-1" *ngIf="user.organisation.length > 0">
          <i appOcticon="organization" class="mr-2"></i> {{ user.organisation }}
        </span>
      </div>
    </div>
    <div class="col-2">
      <!-- HACK TODO: this uses float right. we should use flex properly but it's not working properly and i don't wanna debug -->
      <button *ngIf="(auth.user$ | async).id !== user.id" (click)="toggleFollowState()" [attr.aria-disabled]="loading"
              class="btn float-right" type="button">
        {{ (followed) ? "Unfollow" : "Follow" }}
      </button>
      <button *ngIf="(auth.user$ | async).id === user.id" routerLink="/settings/profile" class="btn float-right d-flex" type="button">
        <i appOcticon="pencil" class="mr-2"></i> Edit Profile
      </button>
    </div>
  </div>
  <hr>
  <div class="d-flex">
    <div class="col-2 mr-3">
      <nav class="SideNav border">
        <a *ngFor="let t of tabs" class="SideNav-item d-flex flex-justify-between" routerLink="./" [queryParams]="{tab: t.key}"
           [attr.aria-current]="this.tab === t.key ? 'page' : null"
        >
          {{ t.name }} <span class="Counter bg-gray-2 ml-1 d-flex flex-items-center">{{ user[t.key].length }}</span>
        </a>
      </nav>
    </div>
    <div class="col-10">
      <div *ngIf="tab === 'resources'" class="d-flex flex-wrap">
        <ng-container *ngIf="user.resources.length === 0">
          <div *ngIf="(auth.user$ | async).id === user.id; else noResourcesOther" class="blankslate col-12" >
            <h3 class="mb-1">You don't seem to have any resources.</h3>
            <p>Sharing resources with the community can help improve the community as a whole.</p>
            <button class="btn btn-primary my-3" type="button" routerLink="/create">Create resource</button>
          </div>
          <ng-template #noResourcesOther>
            <div *ngIf="(auth.user$ | async).id !== user.id" class="col-12">
              <h3>This user doesn't seem to have any resources.</h3>
            </div>
          </ng-template>
        </ng-container>
        <div *ngFor="let res of user.resources; let i = index;" class="mr-2 mb-2 Box col-3 cursor-pointer"
             [routerLink]="['/u', user.username, res.name]">
          <div class="Box-header">
            <h3 class="Box-title">
              {{ res.name }}
              <span *ngIf="user.hasPrivate" class="Label Label--outline ml-2">{{ res.visibility }}</span>
            </h3>
          </div>
          <div class="Box-body" *ngIf="res.description.length > 0">{{ res.description }}</div>
          <div class="Box-body text-italic text-gray-light" *ngIf="res.description.length === 0">no description provided</div>
          <div class="Box-footer">Last updated {{ res.updated_at | amTimeAgo }}</div>
        </div>
      </div>
      <!-- Probably refactor this into its own template or element -->
      <div *ngIf="tab === 'followers'" class="d-flex flex-wrap">
        <div *ngFor="let follower of user.followers" class="col-3 d-flex flex-items-center flex-column cursor-pointer" [routerLink]="['/u', follower.username]">
          <img [src]="follower.gravatar + '?size=125'" class="mb-2">
          <h4>
            {{ follower.username }}
            <span *ngIf="follower.follows_you" class="Label Label--gray">follows you</span>
          </h4>
        </div>
      </div>
      <div *ngIf="tab === 'following'" class="d-flex flex-wrap">
        <div *ngFor="let follower of user.following" class="col-3 d-flex flex-items-center flex-column cursor-pointer" [routerLink]="['/u', follower.username]">
          <img [src]="follower.gravatar + '?size=125'" class="mb-2">
          <h4>
            {{ follower.username }}
            <span *ngIf="follower.follows_you" class="Label Label--gray">follows you</span>
          </h4>
        </div>
      </div>

    </div>
  </div>
</ng-container>
