<div>
  <p class="lead-mktg text-gray">Welcome to Multi Theft Auto Hub - the official platform to share and download resources.</p>
</div>

<div *ngIf="data">
  <h1>Latest resources</h1>
  <p>
    MTA Hub features a Resource center that allows you to upload and share your latest developed resources with other members of our community.
  </p>
  <!-- todo: show spinner -->
  <div class="d-flex flex-wrap">
    <div
      class="pr-lg-2 mb-2 col-xl-4 col-lg-6 col-12 cursor-pointer"
      *ngFor="let res of data.latest; index as i">
      <div class="Box height-full"
           [routerLink]="['/u', res.author_id, res.name]"
           *ngIf="res.short_description.length > 0"
      >
        <div class="Box-header">
          <h3 class="Box-title">
            {{ res.name }}
            <span class="text-gray">by {{ res.author_username }}</span>
            &middot;
            <span class="text-gray-light">{{ res.updated_at | amTimeAgo }}</span>
          </h3>
        </div>
        <div class="Box-body">
          {{ res.short_description }}
        </div>
      </div>
    </div>
  </div>
</div>
