<div style="border: solid green 3px; padding: 5px">
<pre>Debug
Current user json: {{ user$ | async | json }}</pre>
</div>

<div style="width: 100%; border: solid cyan 2px;">
  <h1 style="display: inline">Nav</h1>
  <div *ngIf="user$ | async as user; else loggedOut" style="display: inline-block">
    <ul style="display: inline-block">
      <li style="display: inline;"><a [routerLink]="['/']">home</a></li>
      <li style="display: inline; padding-left: 1em;"><a [routerLink]="['/u', user.username]">profile</a></li>
      <li style="display: inline; padding-left: 1em;"><a href="#">new resource</a></li>
      <li style="display: inline; padding-left: 1em;">logout ({{ user.username }})</li>
    </ul>
  </div>
  <ng-template #loggedOut>
    <ul style="display: inline-block">
      <li style="display: inline;"><a [routerLink]="['/']">home</a></li>
      <li style="display: inline; padding-left: 1em"><a [routerLink]="['/login']">login</a></li>
      <li style="display: inline; padding-left: 1em;"><a [routerLink]="['/register']">register</a></li>
    </ul>
  </ng-template>
</div>
