<div class="bg-gray-dark">
  <div class="Header col-8 mx-auto">
    <div class="Header-item">
      <a class="Header-link" routerLink="/">MTA Hub</a>
    </div>
    <div class="Header-item">
      <input type="search" class="form-control input-dark"/>
    </div>
    <div class="Header-item">
      <a class="Header-link" href="https://www.multitheftauto.com">about</a>
    </div>
    <div class="Header-item">
      <a class="Header-link" href="https://forum.mtasa.com">forum</a>
    </div>
    <div class="Header-item">
      <a class="Header-link" href="https://wiki.mtasa.com">wiki</a>
    </div>
    <div class="Header-item">
      <a class="Header-link" routerLink="/resources">resources</a>
    </div>
    <div class="Header-item Header-item--full"></div>
    <ng-container *ngIf="user$ | async as user; else loggedOutHeader">
      <div class="Header-item" *ngIf="user.level > 0">
        <a class="Header-link" routerLink="/admin/dashboard">admin</a>
      </div>
      <div class="Header-item">
        <a class="Header-link" routerLink="/create">create resource</a>
      </div>
      <div class="Header-item">
        <a class="Header-link" [routerLink]="['/u', user.username]">{{ user.username }}</a>
      </div>
      <div class="Header-item mr-0">
        <a class="Header-link" routerLink="" (click)="auth.logout()">logout</a>
      </div>
    </ng-container>
    <ng-template #loggedOutHeader>
      <div class="Header-item">
        <a class="Header-link" routerLink="/login">login</a>
      </div>
      <div class="Header-item mr-0">
        <a class="Header-link" routerLink="/register">register</a>
      </div>
    </ng-template>
  </div>
</div>
