<div class="Box Box--spacious col-6 mx-auto text-center">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class="Box-body">
      <h3 class="f1-light">
        Create a resource
      </h3>
      <div class="form-group mb-4">
        <div class="form-group-header"><label for="mta-create--name">Name</label></div>
        <div class="form-group-body">
          <input class="form-control" type="text" id="mta-create--name" placeholder="hedit" formControlName="name" required (ngModelChange)="updateTitle($event)" />
        </div>
      </div>

      <div class="form-group mb-4">
        <div class="form-group-header"><label for="mta-create--title">Title</label></div>
        <div class="format-group-body">
          <input id="mta-create--title" class="form-control" placeholder="Handling Editor" type="text" formControlName="title" required (input)="titleInput = true;">
        </div>
      </div>

      <div class="form-group mb-4">
        <div class="form-group-header"><label for="mta-create--description">Description (optional)</label></div>
        <div class="format-group-body">
          <input id="mta-create--description" class="form-control" placeholder="The official ingame handling editor." type="text" formControlName="description">
        </div>
      </div>

      <button class="btn btn-primary btn-block" type="submit" [disabled]="form.disabled || form.value.name.length === 0">
        Next
      </button>
    </div>
  </form>
</div>
