<div>
  <h1>Create a resource</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <label>
      Name
      <input placeholder="hedit" type="text" formControlName="name" required (ngModelChange)="updateTitle($event)">
    </label>

    <label>
      Title
      <input placeholder="Handling Editor" type="text" formControlName="title" required (input)="titleInput = true;">
    </label>

    <label>
      Description (optional)
      <input placeholder="The official ingame handling editor." type="text" formControlName="description">
    </label>

    <button class="button" type="submit" [disabled]="form.disabled || form.value.name.length === 0">Next</button>
  </form>
</div>
